.dropdown-menu >li >a, a > h3 {
   cursor:pointer;
}

/*formatting the entire welcome header*/
#banner {
	background-color: inherit;
}

.banner_header{
	margin-bottom: 0px;
	padding-bottom: 0px;
}
/*specifically the welcome text*/
#welcome {
	font-family: 'ABeeZee', sans-serif;
	font-size: 2em;
   	font-weight: bold;
    color: rgba(0, 128, 128,.8);
  /* 	text-shadow: 2px 2px 3px rgba(251, 246, 217,1);*/
 	text-shadow: 2px 2px 3px white;
}

/*For formatting message under the tex banner*/
.text-homepage{
	font-family: "Open Sans";
	font-weight: bold;
	font-size: 100%;
}

#sub_welcome {
	color: black;
	font-size: 1.25em;
	margin-bottom: 20px;
}
#info_banner{
	font-size: 1.25em;
	margin-top: 20px;
}

/*positions the entire search bar on the homepage*/
#homesearch {
	width: auto;
	max-width: 800px;
}

/* For homepage */
.banner_center {
	margin-top: 5%;
	height:auto;
}

/*Prevent the width of the dropdown button from changing on click*/
#search_by{
    width: 100px;
    display: inline-block;
}

#search_bar_text{
	color: black;
}

/* standardize search results column widths */
.fixed-result-width {
  width: 65%;
}

/* standardize book page column widths */
.fixed-book-width {
  width: 75%;
}

#other_sites{
  padding-top: 2%;
}

/*style the search results table headers*/
.search-th, .center-img{
  text-align: center;
  color: #008080; /*match the book links*/
}

.notify {
	display: inline-block;
	display: block;
	height: auto;
	width:600px;
	padding: 4px;
	font-family: sans-serif;
	margin-bottom: 20px;
	line-height: 1.428571429;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 4px;
}

#search_form{
	font-family: 'Open Sans';
}
.image-med {
	 height:211px;
	 width:171px;
}
.outerframe {
   margin-bottom: 5%;
   margin-top: 5%;
   margin-left: 10%;
   margin-right: 10%;
   padding: 2%;
   width: 80%;
   background-color: rgba(255,255,255,.25);
}
.navbar-header {
	margin-left: 10%;
   	margin-right: 10%;
   	width: 80%;
   	font-size: 1em;
   	font-family: 'Open Sans';
}

.media.thumbnail{
   background-color: rgba(255,255,255,0.1);
}

.result-thumbnail {
   width: 50px;
}
.frontcover {
	height: 211px;
	width: 171px;
}

.media-body > a:link {color: #008080;}
.media-body > a:visited {color: #110055;}
.media-body > a:hover {color: rgba(74, 160, 44,.5);}

.modal-content {
	font-family: 'Open Sans';
	background: url('paper.jpg');
	font-size:1em;
}
.modal-footer {
	padding: 10px 10px 10px;
	border-top: none;
}

.modal-header {
	 border-bottom: none;
	 height: 50px;
	 background-color: rgba(74, 160, 44,.25);
}

.modal-dialog, .modal-header{
	font-family: 'Open Sans';
}
.modal-font {
	font-size:1em;
}

/* For the background of the pages */
body {
    /*background-color:#c1cdd5;*/
   background: url('paper.jpg');
   min-height:100%;
   font-size:1em;
   margin-top: 50px;
}

html {
	height:100%;
}


input, textarea{
	font-family: 'Open Sans';
    color: black;
}
/* change fonts */
.jumbotron{
  font-family: 'Open Sans';
}
p, h1, h2, h3, h4, td, th{
  /*font-family: 'ABeeZee', sans-serif;*/
	font-family: 'Open Sans';
}

h1, .h1, h2, .h2, h3, .h3 {
margin-top: 10px;
margin-bottom: 5px;
}
h3 {
	font-size: 1.25em;
}
h2{
	font-size: 1.5em;
}
h1 {
	font-size: 2em;
}
th{
 	border-top: none;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	padding: 5px;
}
.table-borderless td,
.table-borderless th, .table td, .table th{
  border: 0 !important;
}

/*applies to a div that holds everything in the page*/
.center-page{
  margin:auto;
  width:80%;
}
#footer {
	position: absolute;
	width: 100%;
	height: 130px;
	text-align: center;
}
#above-footer{

}

/*fixed width for sell form fields */
.sell-field {
  width: 150px !important;
}

/* style all the input forms on the sell page */
.sell-label {
  text-align: left;
}

.sell-info {
	margin-top: 1%;
	margin-left: 1%;
}

/*adjust the enddate input*/
#datetimepicker, #datetimepicker2 {
	padding-left: 15px;
}


label{
 	margin-top:5px;
 	margin-bottom:5px;

 }
/*vertically center checkbox*/
#is_auction {
  margin-top: 1.2%;
}

/* Three different shades of translucence for white*/
.translucent_w1{
	background-color: rgba(255,255,255,.75);
}
.translucent_w2 {
   background-color: rgba(255,255,255,.5);
}
.translucent_w3 {

   background-color: rgba(255,255,255,.4)

}
.blue_button{
	background-color:rgba(0, 128, 128,.2);
	font-weight:bold;
	font-size:.8em;
   	box-shadow:inset 0 0 3px rgba(0, 128, 128,.45);
}

.translucent_button{
	background-color: rgba(255,255,255,.4);
	font-weight:bold;
	font-size:.8em;
   	box-shadow:inset 0 0 3px rgba(0,0,0,.3);
}

.nav-wrapper {
	height: 50px;
	background: url('paper.jpg');
	position: fixed;
    right: 0;
    left: 0;
    top: 0;
    border-width: 0 0 1px;
    z-index: 10;
}

.nav-background{
	background-color: rgba(74, 160, 44,.25);
}

/*For mobile devices*/
@media (max-width: 767px) {
	.nav-wrapper {
		height: 72px;
	}
	img.media-object{
		height: 50px;
		width:50px;
	}
	body {
	   margin-top: 72px;
	}
	th {
		font-size: 12px;
	}

	.outerframe {
	   margin-bottom: 5%;
	   margin-top: 5%;
	   margin-left: 10%;
	   margin-right: 10%;
	   padding: 2%;
	   width: 80%;
	   background-color: rgba(255,255,255,.25);
	}

	/*show only the icons of other sellers*/
	.otherseller {
		display: none;
	}
}


ul {list-style-type:none}

.navbar-inverse .navbar-nav>li>a{
	color: rgba(0, 128, 128,.8);
	font-size:1.75em;
	font-weight:bold;
}
a:link {color: #008080;}
a:visited {color: #008080;}
a:hover {color: rgba(74, 160, 44,.6);}


#end_time, #end_time2{
	width:auto;
}

#submit {
	display: inline !important;
}


.big-shot {
	width: 80%;
	height:80%;
}
.md-shot{
	width: 65%;
	height:65%;
}
.sm-shot{
	width: 40;
	height:40%;
}
.lg-vert-center{
	margin-top: 13%;
}
.md-vert-center{
	margin-top: 3%;
}


.debug {
	border:solid red thick;
}
.debug2 {
	border:solid blue thick;
}
.debug3 {
	border:dashed green thick;
}

.info_text {
	color:#008080;
}
