{% extends "account_profile.html" %}


{% block navbar %}
{% endblock navbar %}


{% if registered %}
		        <h4>Thank you for registering!</h4g>
        		<a href="/">
        		Return to the homepage
        		</a>





<button id="test" data-toggle="modal" data-target="#register_modal"
                class="btn btn-default translucent_w3">
                    <span><strong>Sign up</strong></span>
                   </button>


<div class="modal fade" id="register_modal" tabindex="-1" role="dialog"
  aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        	<h4 class="modal-title" id="registerModalLabel">Registration</h4>
        </div>
        <div id="confirm_modal_body" class="modal-body">
		    <strong>Register Here!</strong><br />

			<div class="modal-footer">
				<button type="submit" id="register_btn" class="btn btn-primary"
				data-target="#register_modal" form="register_form">
					Register
				 </button>
			 </div>
        </div>
    </div>
  </div>
  		 {% endif %}
	 {% else %}
<!--


                   onclick="document.getElementById('register_form').submit(); return false;"












-->


