{% extends "base_topsearch.html" %}
{% block header %}
<script type="text/javascript" src="/static/jquery.countdown.js"></script>
<script>
	$(document).ready(function(){
		$("#{{user.bookuser.default_search}}").prop('checked', true);
 });
</script>
{% endblock header %}
{% block title %}tex account{% endblock title %}

{% block content %}
<div class="center-page">
<div class="media">
	<div class="media-body">
		<h3 class="media-heading" style="font-size:36px;"><strong>My Account</strong>
		<button id="update_profile" data-toggle="modal"	data-target="#profile_modal"
		        class="btn btn-default translucent_w3">
			<span><strong>Update profile</strong></span>
		</button>
	    </h3>
	</div>
</div>

<div class="media">
      <div class="media-body">
         <h3 class="media-heading" style="font-size:28px"><strong>Offering</strong></h3>
         <h2 style="font-size:20px">
         	{% if offers %}
	         <table class="table" width="80%">
	     		<th></th>
	     		<th></th>
	     		<th>Book</th>
	     		<th>Current Price</th>
	     		{% for offer in offers %}
	         	<tr>
	         		<form id="edit_{{offer.offer_id}}" action="/sell/edit/" method="POST"> {% csrf_token %}
	     				<input type="hidden" id="offer_id" name="offer_id" value="{{offer.offer_id}}"/>
	         			<td><button type="submit" id="edit_{{offer.offer_id}}" form="edit_{{offer.offer_id}}" class="btn btn-default translucent_w3">
	              			<span><strong>EDIT</strong></span>
	    				</button> </td>
	    			</form>
    				<td><button type="submit" id="remove_{{offer.offer_id}}" data-toggle="modal" data-target="#remove_modal_{{offer.offer_id}}" class="btn btn-default translucent_w3">
              			<span><strong>REMOVE</strong></span>
    				</button></td>
	         		<td><a href="/book/?isbn={{offer.isbn}}">{{offer.title}}</a></td>
	         		<td>${{offer.price}}</td>
	         	</tr>

	         	<!-- remove modal -->
            <div class="modal fade" id="remove_modal_{{offer.offer_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog"><div class="modal-content"><div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Remove this book</h4></div>
                  <div id="remove_modal_body" class="modal-body">
                    Are you sure you want to remove "{{offer.title}}"?</div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="submit" name="remove_book" value="{{offer.offer_id}}"
                    	onclick="document.getElementById('remove_{{offer.offer_id}}').submit(); return false;"
                    	data-dismiss="modal" class="btn btn-primary" form="remove_{{offer.offer_id}}">Yes</button>
	                <form id="remove_{{offer.offer_id}}" action="/account/remove/" method="post"> {% csrf_token %}
                    	<input type="hidden" id="offer_id" name="offer_id" value="{{offer.offer_id}}">
                    	<input type="hidden" id="offers" name="offers" value="{{offers}}">
                    	<input type="hidden" id="action" name="action" value="remove_offer">
                    </form>
            </div></div></div></div>
            <!-- end of remove prompt modal -->
	         	{% endfor %}
	         </table>
	     {% else %}
	     <h4>You currently have no offers.</h4>
	     {% endif %}
         </h2>
      </div>
<div class="media">
      <div class="media-body">
         <h3 class="media-heading" style="font-size:28px"><strong>Auctioning</strong></h3>
         <h2 style="font-size:20px">
         	{% if auctions %}
	         <table class="table" width="80%">
	     		<th></th>
	     		<th>Book</th>
	     		<th>Current Price</th>
	     		<th>Time Left</th>
	     		{% for auction in auctions %}
	         	<tr class="countdown_{{auction.auction_id}}">
	         		<form id="edit_{{auction.auction_id}}" action="/sell/edit/" method="POST"> {% csrf_token %}
	     				<input type="hidden" id="offer_id" name="offer_id" value="{{auction.auction_id}}"/>
	     				<input type="hidden" id="is_auction" name="is_auction" value="true"/>
	         			<td><button type="submit" id="edit_{{auction.auction_id}}" form="edit_{{auction.auction_id}}" class="btn btn-default translucent_w3">
	              			<span><strong>EDIT</strong></span>
	    				</button> </td>
	    			</form>
	         		<td><a href="/book/?isbn={{auction.isbn}}">{{auction.title}}</a></td>
	         		<td>${{auction.current_price}}</td>
	         		<td><div class="actualcountdown_{{auction.auction_id}}"></div></td>
	         	</tr>
			<script type="text/javascript">
				$(function() {
				    $('.actualcountdown_{{auction.auction_id}}').countdown({
				        date: "{{auction.end_time}}",
					    onEnd: function() {
					    	return $(".countdown_{{auction.auction_id}}").hide();
					    }
				    });
				});
			</script>
	         	{% endfor %}
	         </table>
	     {% else %}
	     <h4>You currently have no auctions.</h4>
	     {% endif %}
         </h2>
      </div>
       <div class="media-body">
         <h3 class="media-heading" style="font-size:28px"><strong>Following</strong></h3>
         {% if follows %}
         <h2 style="font-size:20px">
	         <table class="table" width="80%">
	     		<th></th>
	     		<th>Book</th>
	     		<th>Offer Price</th>
	     		<th>Auction Price</th>
	     		{% for follow in follows %}
	         	<tr>
	    			<td><button type="submit" id="remove" class="btn btn-default translucent_w3" form="unfollow_{{follow.book.isbn}}"><span><strong>UNFOLLOW</strong></span></button></td>
	    			<form id="unfollow_{{follow.book.isbn}}" action="/account/unfollow/" method="post">{% csrf_token %}
	    				<input type="hidden" id="action" name="action" value="unfollow">
                    	<input type="hidden" id="target_isbn" name="target_isbn" value="{{follow.book.isbn}}">
	    			</form>
	         		<td><a href="/book/?isbn={{follow.book.isbn}}">{{follow.book.title}}</a></td>
	         		<td>{% if follow.min_offer %}${{follow.min_offer.buy_price}}{% else %}No offers{% endif %}</td>
	         		<td>{% if follow.min_auction %}${{follow.min_auction.current_price}}{% else %}No auctions{% endif %}</td>
	         	</tr>
	         {% endfor %}
	         </table>
	     {% else %}
	     <h4>You are not currently following any books.</h4>
	     {% endif %}

         </h2>
      </div>
</div>
</div>



<!--   FOR UPDATING YOUR PROFILE -->

<div class="modal fade" id="profile_modal" tabindex="-1" role="dialog"
  aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        	<h4 class="modal-title" id="profileModalLabel">Update my profile</h4>
        </div>
        <div id="profile_modal_body" class="modal-body">
		   <form id="profile_form" method="post" action="/account/profile/"> {% csrf_token %}
				<!-- input type="text" name="first_name" id="first_name" placeholder="First name" required/>
				<input type="text" name="last_name" id="last_name" placeholder="Last name" required/ -->
				Class Year:
				<input type="text" name="class_year" id="class_year" value="{{ user.bookuser.class_year }}"
			    required pattern="20(1[4-9]|[2-9][0-9])" title="Enter your graduation year 20XX" />
			    <br>Search by default:<br>
			    <label><input required name="default_search" type="radio"   id="title"  value="title" />Title</label>
			    <label><input required name="default_search" type="radio"   id="isbn"  value="isbn" />ISBN</label>
			    <label><input required name="default_search" type="radio"   id="author"  value="author" />Author</label>
			    <label><input required name="default_search" type="radio"   id="course"  value="course" />Course</label>
			</form>

			<div class="modal-footer">
				<button type="submit" id="submit" class="btn btn-primary" form="profile_form">
			    	<span>Update</span>
				</button>
			 </div>
        </div>
    </div>
</div>



{% endblock content %}
