{% extends "base_topsearch.html" %}
{% block content %}

<form id="profile_form" method="post" action"/account/"> {% csrf_token %}
	<input type="text" name="first_name" id="first_name" placeholder="First name" required/>
	<input type="text" name="last_name" id="last_name" placeholder="Last name" required/>
	<input type="text" name="class_year" id="class_year" placeholder="Class Year" required/>
    <label><input required name="default_search" type="radio"   id="title"  value="title" />Title</label>
    <label><input required name="default_search" type="radio"   id="isbn"  value="isbn" />ISBN</label>
    <label><input required name="default_search" type="radio"   id="author"  value="author" />Author</label>
    <label><input required name="default_search" type="radio"   id="course"  value="course" />Course</label>
	<button type="submit" id="submit" class="btn btn-primary">
    	<span><strong>Update
    </strong></span>
	</button>
</form>

{% endblock content%}