<!DOCTYPE html>
<html lang="en">
<head>
	<link href='http://fonts.googleapis.com/css?family=Roboto|ABeeZee' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>{% block title %}tex{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet">
  <link rel="shortcut icon" href="/static/favicon.ico">

  <script type="text/javascript" src="/static/jquery.min.js"></script>
  <script type="text/javascript"  src="/static/bootstrap.min.js"></script>
  <script type="text/javascript"  src="/static/scripts.js"></script>

</head>
<body>
	{% block navbar %}
	{% endblock navbar %}

	{% block body %}
	{% endblock body %}

	{% block footer %}
	{% endblock footer %}
</body>
</html>