{% extends "base.html" %}
{% block title %}tex{% endblock title %}

{% block topsearch %}
<div class="navbar-form">
  <form id="search_form" action="/search/title/" method="post">   {% csrf_token %}
	 <div class="input-group">
	    <div class="input-group-btn">
	       <button id ="search_by" type="button" class="btn btn-default dropdown-toggle translucent_w1"
	          data-title-text="Title <span class='caret'></span>"
	          data-isbn-text="ISBN <span class='caret'></span>"
	          data-author-text="Author <span class='caret'></span>"
	          data-course-text="Course <span class='caret'></span>"
	          data-toggle="dropdown"> Title <span class='caret'></span>
	       </button>
	       <ul class="dropdown-menu translucent_w1" >
	          <li id="search_by_title"><a>Title</a></li>
	          <li class="divider">
	          <li id="search_by_isbn"><a>ISBN</a></li>
	          <li class="divider">
	          <li id="search_by_author"><a>Author</a></li>
	          <li class="divider">
	          <li id="search_by_course"><a>Course</a></li>
	       </ul>
	    </div>
	    <input type="search" id="search_bar_text" name="search_input" autocomplete="on"
	    autofocus required placeholder="Search by title" class="form-control translucent_w3"
	    style="color:black">
	    <div class="input-group-btn">
	       <button type="submit" id="search_btn" class="btn btn-default
	       translucent_w1">
	          <span class="glyphicon glyphicon-search"> </span>
	       </button>
	    </div>
	 </div>
 </form>
</div>
{% endblock topsearch %}


{% block body %}
	<div class="container outerframe">
	  {% block content %}
	  {% endblock content %}
	</div>
{% endblock body %}

