{% extends "base_topsearch.html" %}

{% block content %}
{% if book %}

<!-- DISPLAY THE BOOK AND OTHER SITES -->
<div class="media">
	<img class="media-object pull-left" src="{{ book.frontcover }}" alt="{{ book.title }}" height="211px" width="171px">
	<div class="media-body book-info">
		<table class="table">
			<tr>
				<td class="fixed-book-width">
					{% block displaytitle %}
					{% endblock displaytitle %}
					<h2 class="subheader">
						<p>Author(s): {{book.author}}</p>
						<p>ISBN-13: {{book.isbn}}</p>
						<p>Published Date: {{book.pub_date}}</p>

		         	{% block sellfollow %}
		         	{% endblock sellfollow %}

		         	{% block buyback %}
		         	{% endblock buyback %}

		    	</h2>
		    	</td>
		    	<td id="other_sites">
		    		<h3 class="media-heading header" style="font-size:20px"><strong>Other sites</strong></h3>
	         		{% if book.amazon %}
	         		<h3><a href={{book.amazon}} target="_blank"> <img src="/static/amazon.ico" alt="Amazon"></a>
	         		<a href={{book.amazon}} target="_blank"> Amazon </a>
	         	    </h3>
	         	    {% endif %}
	         		{% if book.campus %}
	         		<h3><a href={{book.campus}} target="_blank"> <img src="/static/campus.ico" alt="Campus Books"></a>
	         		<a href={{book.campus}} target="_blank"> Campus Books </a>
	         	    </h3>
	         		{% endif %}
	         		{% if book.chegg %}
	         		<h3><a href={{book.chegg}} target="_blank"> <img src="/static/chegg.ico" alt="Chegg"></a>
	         		<a href={{book.chegg}} target="_blank"> Chegg </a>
	         	    </h3>
	         		{% endif %}
		    		{% if book.labyrinth %}
	         		<h3><a href={{book.labyrinth}} target="_blank"><img src="/static/labyrinth.ico" alt="Labyrinth"></a>
	         		<a href={{book.labyrinth}} target="_blank"> Labyrinth </a>
	         	    </h3>
		    		{% endif %}
		    	</td>
    	</table>		    	
  	</div>
</div>

{% block extras %}
{% endblock extras %}

{% else %} 
<h1>No Book found</h1>

{% endif %}
{% endblock content %}
