<!DOCTYPE html>
<html lang="en">
<head>
	<link href='http://fonts.googleapis.com/css?family=Roboto|ABeeZee' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>{% block title %}tex{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet">
  <link rel="shortcut icon" href="/static/favicon.ico">

  <script type="text/javascript" src="/static/jquery.min.js"></script>
  <script type="text/javascript"  src="/static/bootstrap.min.js"></script>
  <script type="text/javascript"  src="/static/scripts.js"></script>

</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top translucent"
		 role="navigation">
	  <div class="container">
		<p class="navbar-text navbar-right"><a href="/logout" >Logout</a></p>
		<p class="navbar-text navbar-right"><a href="/account">My account</a></p>
		<p class="navbar-text navbar-right"><a href="/">Home</a></p>
	  </div>
	</nav>
	{% block body %}
	{% endblock body %}

	{% block footer %}
	{% endblock footer %}
</body>
</html>