{% extends "base_topsearch.html" %}
{% block content %}
{% if book %}

<!-- GAME PLAN FOR NICOLE BY TONIGHT -->
<!-- hidden form for each sell button to submit seller ID -->
<!-- when buyer clicks on buy button within offer, create pop up window for verification -->
<!-- confirming purchase submits hidden form with seller ID -->

<!-- DISPLAY THE BOOK -->
<div class="media">
      <img class="media-object pull-left" src="{{ book.frontcover }}" alt="{{ book.title }}" height="316px" width="256px">
      <div class="media-body">
         <h3 class="media-heading" style="font-size:28px"><strong>{{book.title}}</strong></h3>
         <h2 style="font-size:20px">
         	<p>Author(s): {{book.author}}</p>
         	<p>ISBN-13: {{book.isbn}}</p>
         	<p>Published Date: {{book.pub_date}}</p>
			<form id="sell" action="/sell/" method="post"> {% csrf_token %}
	     		<input type="hidden" id="target_isbn" name="target_isbn" value="{{book.isbn}}">
	 			<a href="javascript:{}" onclick="document.getElementById('sell').submit(); return false;">
	 				<button type="submit" id="sell" class="btn btn-default translucent_w3"><span><strong>SELL</strong></span></button>
	 			</a>
 			</form>
			<button type="submit" id="follow" data-toggle="modal" data-target="#follow_modal" class="btn btn-default translucent_w3">
				<span><strong>FOLLOW</strong></span></button>
         </h2>
      </div>
</div>

<!-- OFFERS TABLE -->
<div class="media">
      <div class="media-body">
         <h3 class="media-heading" style="font-size:28px">Offers</h3>
         <h1 style="font-size:18px">
         	<p>Also available from 
         		{% if book.labyrinth %}<a href={{book.labyrinth}}>Labyrinth </a>{% endif %}
         		{% if book.amazon %}<a href={{book.amazon}}>Amazon </a>{% endif %}
         		{% if book.chegg %}<a href={{book.chegg}}>Chegg </a>{% endif %}
         		{% if book.campus %}<a href={{book.campus}}>Campus </a>{% endif %}
         	</p>
         </h1>
         <h2 style="font-size:20px">
	         <table class="table" width="80%">
	     		<th></th>
	     		<th>Price</th>
	     		<th>Condition</th>
	     		<th>Description</th>
	  {% if offers %}
         {% for offer in offers %}
	         	<tr>
              <!-- button should only trigger modal -->
           		<td><button id="buy" data-toggle="modal" data-target="#buy_modal"
                class="btn btn-default translucent_w3">
                    <span><strong>BUY</strong></span>
                   </button>
              </td>
              <!-- end trigger button -->

              <td>${{offer.buy_price}}</td>
	         		<td>{{offer.condition}}</td>
	         		<td>{{offer.description}}</td>
	         	</tr>

            <!-- modal to prompt buyer. if they buy, confirmation is displayed with new modal. -->
            <div class="modal fade" id="buy_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Buy this book!</h4>
                  </div>
                  <div id="buy_modal_body" class="modal-body">
                    Are you sure you want to purchase "{{ book.title }}" for
                    ${{ offer.buy_price }}? If you confirm we will follow up
                    with you and the seller with relevant contact information.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="submit" name="seller" value="{{ seller_id }}"
                    	data-dismiss="modal" data-toggle="modal" data-target="#confirm_modal"
                    	class="btn btn-primary">Yes
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of buyer's prompt modal -->

            <!-- confirmation modal -->
            <div class="modal fade" id="confirm_modal" tabindex="-1" role="dialog"
            	aria-labelledby="confirmModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="confirmModalLabel">You bought this book!</h4>
                  </div>
                  <div id="confirm_modal_body" class="modal-body">
                  	Sweet! You just bought "{{ book.title }}" from
                  	{{ seller_id }} for ${{ offer.buy_price }}. We've
                  	sent both you and the seller an email detailing
                  	the next steps.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Okay
                    	</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of confirmation modal -->
            
            
            
            <!-- follow modal -->
            <div class="modal fade" id="follow_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Follow this book</h4>
                  </div>
                  <div id="buy_modal_body" class="modal-body">
                    Are you sure you want to follow "{{ book.title }}"? We'll email you when there are new offers.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="submit" name="book_isbn" value="{{ book.isbn}}"
                    	data-dismiss="modal" data-toggle="modal" data-target="#confirm_follow_modal"
                    	class="btn btn-primary">Yes
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of follow prompt modal -->
            
             <!-- confirmation modal -->
            <div class="modal fade" id="confirm_follow_modal" tabindex="-1" role="dialog"
            	aria-labelledby="confirmModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="confirmModalLabel">You are now following this book!</h4>
                  </div>
                  <div id="confirm_modal_body" class="modal-body">
                  	Thanks for following "{{ book.title }}"! You can edit your follow list on your account page.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Okay
                    	</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of confirmation modal -->

          {% endfor %}
          {% endif %}
	         </table>
         </h2>
      </div>
</div>
{% endif %}
{% endblock content %}

