{% extends "base_results.html" %}
 {% block content %}
 <div class="media">
      <img class="media-object pull-left" src="/static/pop.jpg" alt="NOOO" height="316px" width="256px">
      <div class="media-body">
         <h3 class="media-heading" style="font-size:28px">Thomas' Calculus, Early Transcendentals, Single Variable with Second-Order Differential Equations</h3>
         <h2 style="font-size:20px">
         	<p>Author(s): David A. Patterson/John L. Hennessy</p>
         	<p>ISBN-13: 9781234567890</p>
         	<p>Published Date: 2010</p>
     		<button type="submit" id="buy" class="btn btn-default translucent2">
              <span>SELL</span>
    		</button> 
    		<button type="submit" id="follow" class="btn btn-default translucent2">
              <span>FOLLOW</span>
    		</button> 
         </h2>
      </div>
   </div>
 {% endblock content %}