{% extends "book_index.html" %}
{% block confirmation %}

{% if book %}
  <!-- confirmation modal -->
  <div class="modal fade in" id="confirm_modal" tabindex="-1" role="dialog"
  aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      {% if sold_offer %}
          <h4 class="modal-title" id="confirmModalLabel">You bought this book!</h4>
        </div>
        <div id="confirm_modal_body" class="modal-body">
          Sweet! You just bought "{{ book.title }}" from
          {{ seller_id }} for ${{ sold_offer.buy_price }}. We've
          sent both you and the seller an email detailing
          the next steps.
        </div>
      {% else %}
          <h4 class="modal-title" id="confirmModalLabel">Oops!</h4>
        </div>
        <div id="confirm_modal_body" class="modal-body">
          Oh no! Someone else must have bought "{{ book.title }}" from this
          seller just a second before you. Consider choosing from the
          remaining offers.
        </div>
      {% endif %}
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Okay
        </button>
      </div>
    </div>
  </div>
  <!-- end of confirmation modal -->
{% endif %}
{% endblock confirmation %}
