<!DOCTYPE html>
<html lang="en">
<head>
	<link href='http://fonts.googleapis.com/css?family=Roboto|ABeeZee|Open+Sans' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>{% block title %}tex{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="static/bootstrap.min.css" rel="stylesheet">
  <link href="static/style.css" rel="stylesheet">

  <link rel="shortcut icon" href="static/favicon.ico">

  <script type="text/javascript" src="static/jquery.min.js"></script>
  <script type="text/javascript" src="static/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/scripts.js"></script>


<link href="static/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script type="text/javascript" src="static/moment.min.js"></script>
<script type="text/javascript" src="static/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    language: 'en',
                    pickDate: true,
                    sideBySide: false
                });
            });

             $(function () {
                $('#datetimepicker2').datetimepicker();
            });
</script>

  <script>
	$(document).ready(function(){
		set_to_isbn();
 	});
  </script>

</head>

<body>

<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="media">
	<img class="media-object pull-left" src="{{ book.frontcover }}" alt="{{ book.title }}" height="211px" width="171px">
	<div class="media-body book-info">
		<h3 class="media-heading" style="font-size:28px"><strong>{{book.title}}</strong></h3>
    	<h2 style="font-size:20px">
         	<p>Author(s): {{book.author}}</p>
         	<p>ISBN-13: {{book.isbn}}</p>
         	<p>Published Date: {{book.pub_date}}</p>
        </h2>
    </div>
</div>
<!-- END BOOK DISPLAY -->

<form id="sell_form" action="/sell/submit/" method="post"> {% csrf_token %}
	<input type="hidden" id="target_isbn" name="target_isbn" value="{{book.isbn}}">
	<h1 style="font-size:16px">
	<table  class="table table-borderless table-condensed table-responsive">
		<tr><th><label>Course:</label></th><td><input id="course" name="course" type="text" required
			 pattern="(^[a-zA-Z]{3}( )*[0-9]{3}$)" title="Enter a valid course name e.g COS 333" placeholder="e.g COS 333"></td></tr>
        <tr><th><label>Auction:</label></th>
        	<td><p id="auction"><label><input id="is_auction" name="is_auction" type="checkbox" value="yes"
        		onclick='$(".auction").toggle(); $(".auction").attr("required");'/>
        		Yes</label></p>
        </td></tr>

<!-- DROP DOWN AUCTION FIELDS -->

<!-- drop down the datepicker if the auction is checked -->
 	<tr class="collapse auction" id="auction_enddate"><th><label>End Date:</label></th><td>
	<div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
<!--



		<div id="datetimepicker1" class="input-append">
			<input id="end_time" name="end_time" data-format="MM/dd/yy HH:mm" title="MM/DD/YY HH:MM:SS, 24-hour time"
			pattern="^(0[1-9]|1[012])[/](0[1-9]|[12][0-9]|3[01])[/]\d\d [012][0-9]:[0-5][0-9]:[0-5][0-9]$"
			placeholder="e.g. 09/15/14 17:00" type="text" >
			<span class="glyphicon glyphicon-calendar"></span>
		</div> -->

	</td></tr>


<!-- end dropdown datepicker -->

	<tr class="collapse auction"><th>
		<div id="auction_startprice" class="input-append collapse auction">
			<label>Start Price:</label>
		</div>
		</th>
		<td><span class="glyphicon glyphicon-usd"></span><input id="current_price" name="current_price" type="text"
			 pattern="(^[1-9]$)|(^[1-9]\d$)|(^[1-9]\d\d$)" title="Whole numbers only; dollar sign not required" placeholder="e.g 10"/>
		</td>
	</tr>

	<tr><th>
		<div id="auction_pricename" class="input-append collapse auction">
			<label>Buy Now <br> Price:</label>
		</div>
		<div id="auction_pricename2" class="input-append auction">
			<label>Price:</label>
			</div>
		</th>
		<td><span class="glyphicon glyphicon-usd"></span>
			<input id="price" name="price" type="text"
			required pattern="(^[1-9]$)|(^[1-9]\d$)|(^[1-9]\d\d$)" title="Whole numbers only; dollar sign not required" placeholder="e.g 25"/>
			<!-- info popover -->
			<span class="input-append collapse auction">
			    <span id="buy_price_info" class="glyphicon glyphicon-info-sign" data-toggle="popover"
			    data-placement="right"
			    data-content="The auction automatically closes when a student bids this price."></span>
			</span>
		    <!-- end info popover -->
		</td>
	</tr>

<!-- END DROP DOWN AUCTION FIELDS -->

		<tr><th><label>Condition:</label></th><td><p id="picked_condition">
			<p><label><input required id="new" name="picked_condition" type="radio" value="New" />New</label></p>
			<p><label><input required id="like_new" name="picked_condition" type="radio" value="Like New" />Like New</label></p>
			<p><label><input required id="very_good" name="picked_condition" type="radio" value="Very Good" />Very Good</label></p>
			<p><label><input required id="good" name="picked_condition" type="radio" value="Good" /> Good</label></p>
			<p><label><input required id="acceptable" name="picked_condition" type="radio" value="Acceptable" />Acceptable</label></p>
		</p></td></tr>
		<tr><th><label>Description:</label></th><td><textarea required maxlength="100" cols="40" id="description"
			name="description" rows="5" title="Enter a short description about your book."></textarea></td></tr>

 	</table>
    <button type="submit" id="submit" class="btn btn-default">
    	<span><strong>SELL</strong></span>
	</button>
    </h1>
</form>
{% endif %}

</div>
</body>

<!--
  <script type="text/javascript" src="static/bootstrap-datepicker.js"></script>
<link href="static/datepicker.css" rel="stylesheet">

<script type="text/javascript">
        $(function () {
           $("#datepicker").datepicker({ autoclose: true, todayHighlight: true });
        });
        $(function () {
           $("#timepicker").datepicker({ autoclose: true, todayHighlight: true });
        });
    </script>


</head>
  <body>


<div class="form-group row">
  <div class="col-sm-6">
    <div class="input-group date" id="datepicker" data-date="4/24/2014" data-date-format="mm/dd/yyyy">
      <input class="form-control" type="text" readonly >
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
  </div>
</div>



<div class="form-group row">
	 <div class='col-sm-6'>
        <div class='input-group date' id='timepicker' data-date="4/24/2014" data-date-format="mm/dd/yyyy">
            <input type='text' class="form-control" readonly />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div> -->
















    <!-- <div id="datepicker" class="input-append dates">
      <input type="text" placeholder="mm/dd/YYYY" readonly></input>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
    </div>

    <div id="timepicker" class="input-append dates">
      <input type="text" placeholder="HH:MM" readonly></input>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
    </div>

    <script type="text/javascript"
     src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script>
    <script type="text/javascript"
     src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
<!--
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script>
-->
    <!-- <script type="text/javascript">
    $(function() {
      $('#datepicker').datetimepicker({
        format: 'MM/dd/yyyy',
        pickTime: false,
        language: 'en'
      });
    });
    </script>
    <script type="text/javascript">
    $(function() {
      $('#timepicker').datetimepicker({
        format: 'hh:mm',
        pickDate: false,
        pickSeconds: false,
        language: 'en'
      });
    });
    </script>  -->

  </body>
<html>