{% extends "base.html" %}
{% block header %}
	<script type="text/javascript" src="/static/bootstrap-tour.min.js"></script>
	<link href="/static/bootstrap-tour.min.css" rel="stylesheet">
{% endblock header %}

{% block body %}
<div class="banner_center">
	<div class="jumbotron" id="banner">
		<h1><p class="text-center" id="welcome">tex</p></h1>
		<h5 class="text-center text-homepage" id="sub_welcome">
			<i style="font-weight: bolder; color:#008080;">tex</i>changing books made easy!<br>
		</h5>
		<div class="container", id="homesearch">
		<form id="search_form" action="/search/title/" method="post"> {% csrf_token %}
			<div class="input-group input-group-lg">
				<div class="input-group-btn">
					<button id ="search_by" type="button" class="btn btn-default dropdown-toggle translucent_w1"
						data-title-text="Title <span class='caret'></span>"
						data-isbn-text="ISBN <span class='caret'></span>"
						data-author-text="Author <span class='caret'></span>"
						data-course-text="Course <span class='caret'></span>"
						data-toggle="dropdown"> Title <span class='caret'></span>
					</button>
					<ul class="dropdown-menu translucent_w1" >
						<li id="search_by_title"><a>Title</a></li>
						<li class="divider">
						<li id="search_by_isbn"><a>ISBN</a></li>
						<li class="divider">
						<li id="search_by_author"><a>Author</a></li>
						<li class="divider">
						<li id="search_by_course"><a>Course</a></li>
					</ul>
				</div>
				<input type="search" id="search_bar_text" name="search_input" autocomplete="on"
					autofocus required placeholder="Search by title" class="form-control translucent_w2">
					<div class="input-group-btn">
						<button type="submit" id="search_btn" class="btn btn-default
						translucent_w1">
							<span class="glyphicon glyphicon-search"> </span>
						</button>
					</div>
				</div>
			</form>
			<br>
		</div>
		<div class="container" id="above-footer">
			<h5 class="text-center text-homepage" id="info_banner">
				Change your default search option by <a href="/account/#profile">updating your profile</a>.
			</h5>
		</div>
	</div>
</div>
{% endblock body %}



