<html>
<head>
</head>
<body>
   <div style= "display: inline-block; display: block; height: auto; width:600px; padding: 4px; font-family: sans-serif;
  margin-bottom: 20px; line-height: 1.428571429; background-color: #ffffff; border: 1px solid #dddddd; border-radius: 4px">
     <div style="overflow: hidden; zoom: 1">
         <img src="cid:frontcover" style="margin-top: 0; margin-right: 10px; float: left !important"
         alt='' />
           <h3 style="margin: 0 0 5px;">
           	{% if is_auction %}
           	An Auction has started for
           	{% else %}
             New offer for
            {% endif %}
             <a href="princetontex.herokuapp.com/?isbn={{book.isbn}}">{{book.title}}</a>
           </h3>
             <b>Price:<b> {{offer.price}} <br>
             <b>Condition:<b> {{offer.condition}} <br>
             {% if is_auction %}
				ADD Auctions details<br>
             {% endif %}
			For more info: check it out on <a href="princetontex.herokuapp.com/?isbn={{book.isbn}}">tex</a>
     </div>
   </div>
   You are receiving this email because you are following {{book.title}} on <a href="princetontex.herokuapp.com">tex</a>.
  <br>To stop receiving such notifications, edit your notification settings on the <a href="princetontex.herokuapp.com/account/">My Accounts</a> tab.

</body>
</html>