<html>
<head>
</head>
<body>
   <div class="notify">
     <div class="clipped">
         <img src="cid:frontcover" style="margin-top: 0; margin-right: 10px; float: left !important"/>
           <h3 style="margin: 0 0 5px;">
           	{% if is_auction %}
           	An Auction has started for
           	{% else %}
             New offer for
            {% endif %}
             <a href="princetontex.herokuapp.com/book/?isbn={{book.isbn}}">{{book.title}}</a>
           </h3>
             {% if is_auction %}
             <b>Starting Price:</b> ${{offer.current_price}}<br>
             <b>Buy Now Price:</b> ${{offer.buy_now_price}}<br>
             <b>Condition:</b> {{offer.condition}} <br>
             <b>End Time:</b> {{offer.end_time}} <br>
			 {% else %}
             <b>Price:</b> ${{offer.price}} <br>
             <b>Condition:</b> {{offer.condition}}<br>
             {% endif %}
			For more info: check it out on <a href="princetontex.herokuapp.com/book/?isbn={{book.isbn}}">tex</a>
     </div>
   </div>
   You are receiving this email because you are following {{book.title}} on <a href="princetontex.herokuapp.com">tex</a>.
  <br>To stop receiving such notifications, edit your notification settings on the <a href="princetontex.herokuapp.com/account/">My Accounts</a> tab.

</body>
</html>