{% extends "base.html" %}
{% block title %}tex{% endblock title %}
{% block header %}
<style>
body{
	background: #ffffff;
	font-size: 100%;
}
h1 {font-size: 3.75em;}
h2 {font-size: 2.5em;}
h3 {font-size: 2em;}

</style>
{% endblock header %}
{% block navbar %}
{% endblock navbar %}

{% block body %}
<div class="container">
	<div class="page-header">
	<h1> What is tex? <br/>
		<small> tex is a site for buying and selling books on campus.
			Learn all about our <i>fantextic</i> features here! </small>
  	</h1>
 	</div>
 	<div class="center-img">
 	<img class="big-shot" src="/static/home.JPG" alt="tex homepage">
 	</div>
  	<br>
  	<div id="buy-affix" class="page-header">
	  	<h2>Buying made easy</h2>
  	</div>
  	<ul class="media-list">
  		<li class="media">
  			<img class="pull-right md-shot" src="/static/search.png" alt="tex search bar">
        	<div class="media-body">
          		<h3>Search by title, course, author, or ISBN for fast and accurate results.</h3>
        	</div>
    	</li>
    	<br>
    	<li class="media">
  			<img class="md-shot pull-left" src="/static/book page.JPG" alt="tex book page">
        	<div class="media-body">
          		<h3>See the prices of all auctions and offers in the same place.</h3>
        	</div>
    	</li>
       	<br>
    	<li class="media">
  			<img class="pull-right" src="/static/bidmodal.JPG" alt="tex book page">
        	<div class="media-body">
          		<h3 class="pull-right">With our auction feature, you can now bid on books sold by
          			fellow students. You set the price!</h3>
        	</div>
    	</li>
    </ul>
      <!-- More  -->
	<div class="page-header">
  	<br>
  	<div class="page-header">
	  	<h2>Selling made easy</h2>
  	</div>
  	<ul class="media-list">
    	<li class="media">
  			<img class="pull-left" src="/static/sell modal.JPG" alt="tex book page">
        	<div class="media-body">
          		<h3>If you're looking to sell you can search for your book with the search bar.
          			Alternatively, you can use our quick sell feature and be taken directly to the sell form.
          		</h3>
        	</div>
    	</li>
    	<br>
    	<li class="media">
  			<img class="md-shot pull-right" src="/static/book page.JPG" alt="tex book page">
        	<div class="media-body">
          		<h3>Note the Amazon prices and links to other sites to help gauge your selling point.</h3>
        	</div>
    	</li>
    	<br>
    	<li class="media">
  			<img class="pull-left" src="/static/bidmodal.JPG" alt="tex book page">
        	<div class="media-body">
          		<h3 class="pull-right">With our auction feature, you can now bid on books sold by
          			fellow students. You set the price!</h3>
        	</div>
    	</li>
    	<br>
    </ul>      
</div>

	<div>
    <ul>
      <li>Search by title, course, author, or ISBN for fast and accurate results. </li>
      <li>Bid on ongoing auctions --- you set the price!</li>
      <li>Follow a book that isn't currently offered or is too expensive right now.</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h2>Easy to sell</h2>
    <ul>
      <li>Quickly see how much your books go for on other websites to help set your price </li>
      <li>Add a new book to the site simply by searching by ISBN! (ISBN 10 and 13 supported)</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h2>Miscellaneous</h2>
    <ul>
      <li>Stay in the loop: receive real-time notifications </li>
      <li>Add a new book to the site simply by searching by ISBN! (ISBN 10 and 13 supported)</li>
    </ul>
  </div>  
{% endblock body %}
