{% extends "base.html" %}
{% block title %}tex{% endblock title %}
{% block header %}
<style>
body{
	background: #ffffff;
	font-size: 100%;
}
h1 {font-size: 3.75em;}
h2 {font-size: 2.5em;}
h3 {font-size: 2em;}

</style>

<script>
$(function () {
	$('#collapseOne').collapse("hide");
});

</script>
{% endblock header %}
{% block navbar %}
{% endblock navbar %}

{% block body %}
<div class="container">
	<div class="page-header">
		<h1> What is tex? <br/>
			<small> tex is a site for buying and selling books on campus.
				Learn all about our <i>fantextic</i> features here! </small>
	  	</h1>
 	</div>
 	<div class="center-img">
 		<img class="big-shot" src="/static/home.JPG" alt="tex homepage">
 	</div>
  	<br>
	<div class="panel-group" id="accordion">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h2 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
	          <strong>Buying made easy!</strong>
	        </a>
	      </h2>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse in">
	   <div class="panel-body">
	  	<ul class="media-list">
	  		<li class="media">
	  			<img class="pull-right md-shot" src="/static/search.png" alt="tex search bar">
	        	<div class="media-body md-vert-center">
	          		<h3>Search by title, course, author, or ISBN for fast and accurate results.</h3>
	        	</div>
	    	</li>
	    	<br>
	    	<li class="media">
	  			<img class="md-shot pull-left" src="/static/book page.JPG" alt="tex book page">
	        	<div class="media-body lg-vert-center">
	          		<h3>See the prices of all auctions and offers in the same place.</h3>
	        	</div>
	    	</li>
	       	<br>
	    	<li class="media">
	  			<img class="pull-right" src="/static/bidmodal.JPG" alt="tex book page">
	        	<div class="media-body lg-vert-center">
	          		<h3 class="pull-right">You choose your price! With our auction feature, you can now bid on books sold by
	          			fellow students. The time remaining in the auction is always displayed as a countdown so there are no surprises.
	          			If you are in a hurry to get the book, you can pay the Buy Now price and immediately win the auction!
	          		</h3>
	        	</div>
	    	</li>
	    	<li class="media">
	  			<img class="pull-left" src="/static/addbook.JPG" alt="tex book page">
	        	<div class="media-body md-vert-center">
	          		<h3 class="pull-right"> Can't find the book you seek?  Search by ISBN to instantly add the book to our
	          			database.  It's as easy as that!
	          		</h3>
	        	</div>
	    	</li>
	    </ul>
	       </div>
	    </div>
	  </div>
	</div>

	<div class="page-header">
  	<br>
  	<div class="page-header">
	  	<h2><strong>Selling made easy!</strong></h2>
  	</div>
  	<ul class="media-list">
    	<li class="media">
  			<img class="pull-left" src="/static/sell modal.JPG" alt="tex book page">
        	<div class="media-body md-vert-center">
          		<h3>If you're looking to sell you can search for your book with the search bar.
          			Alternatively, you can use our quick sell feature and be taken directly to the sell form.
          		</h3>
        	</div>
    	</li>
    	<br>
    	<li class="media">
  			<img class="md-shot pull-right" src="/static/book page.JPG" alt="tex book page">
        	<div class="media-body lg-vert-center">
          		<h3>Use other campus offers, the Amazon list price, and links to other sites to help you gauge
          			your selling point!
          		</h3>
        	</div>
    	</li>
    	<br>
    	<li class="media">
  			<img class="pull-left" src="/static/bidmodal.JPG" alt="tex book page">
        	<div class="media-body lg-vert-center">
          		<h3 class="pull-right">With our auction feature, students can now bid on the books you want to sell!
          			You control the baseline price for the book and when the auction will end.  You can also set a maximum
          			price at which you'd be happy to sell the book immediately.
          		</h3>
        	</div>
    	</li>
    </ul>
</div>

	<div>
    <ul>
      <li>Follow a book that isn't currently offered or is too expensive right now.</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h2>Easy to sell</h2>
    <ul>
      <li>Add a new book to the site simply by searching by ISBN! (ISBN 10 and 13 supported)</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h2>Miscellaneous</h2>
    <ul>
      <li>Stay in the loop: receive real-time notifications </li>
      <li>Add a new book to the site simply by searching by ISBN! (ISBN 10 and 13 supported)</li>
    </ul>
  </div>
{% endblock body %}
{% block footer %}
{% endblock footer %}
