{% extends "base_topsearch.html" %}
  <!-- The space after the results is essential for default isbn search -->
  {% block title %}tex search results {% endblock title %}


{% block content %}
<div class="jumbotron" id="message">
  <h1>We're sorry</h1>
  <h2>Your query <strong>"{{ query }}"</strong> did not match any results.
	<br>Please search by ISBN for more accurate results.
	<br><br><button type="submit" class="btn btn-default blue_button" data-toggle="modal"
	   data-target="#add_modal">ADD BOOK</button>
   </h2>
</div>

<div class="modal fade" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-md" style="width:300px">
			<div class="modal-content">
		  		<div class="modal-header">
		    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		  			<h2 class="modal-title">Add a book</h2>
		  		</div>
		  		<div id="add_modal_body" class="modal-body">
		 			<form id="add_form" role="form" class="form-inline" name="addl_form" action="/book/add/" method="get">

		 			<div class="form-group">
		 			<h2>
		 				<label for="isbn">ISBN:</label>
							<input id="isbn" name="isbn" class="form-control" style="width:150px" type="text" required
							pattern:"(^(( )*([0-9]-?){9}[0-9Xx]( )*)$)|(^(( )*(97[89]-?([0-9]-?){9}[0-9])( )*)$)"
							title="Enter a valid isbn">
							<button type="submit" id="submit" class="btn btn-default blue_button" style="display:inline" >
			    	<span>Add</span>
					</button>
					</h2>
					</div>
					</form>
				</div>
			</div>
		  </div>
	</div>

{% endblock content %}