{% include "pre_header.html" %}
  <title>tex search results</title>
{% include "post_header.html" %}


<body>
<div class="container", id="topsearch">
	{% include "search_bar.html" %}
</div>

<div class="jumbotron" id="message">
  <h1>We're sorry</h1>
  <h2> There are no current offers for <strong>"{{ query }}"</strong>. </h2>
  <h3> Are you sure you spelled everything correctly?  Try searching again by ISBN.</h3>
  <h3> Have a copy of this book you'd like to <a href="sell/" alt="sell here!">sell</a>? </h3>
</div>

</body>
</html>