{% extends "base_topsearch.html" %}
  <!-- The space after the results is essential for default isbn search -->
  {% block title %}tex search results {% endblock title %}


{% block content %}
<div class="jumbotron" id="message">
  <h1>We're sorry</h1>
  <h2>Your query <strong>"{{ query }}"</strong> did not match any results.</h2>
  <h3>Please search by ISBN for more accurate results.</h3>
  <button type="submit" class="btn btn-default blue_button" data-toggle="modal"
   data-target="#add_modal">ADD BOOK</button>
</div>


 <div class="modal fade" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
		  		<div class="modal-header">
		    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		  		</div>
		  		<div id="sell_modal_body" class="modal-body">
		 			<form id="add_form" role="form" class="form-inline" name="add_form" action="/book/add/" method="get">
		 			<h2>
		 			<div class="form-group">
						<label for="isbn"  style="text-align:left">ISBN:</label>
							<input id="isbn" name="isbn" class="form-control" style="width:200px" type="text" required
							pattern:"(^(( )*([0-9]-?){9}[0-9Xx]( )*)$)|(^(( )*(97[89]-?([0-9]-?){9}[0-9])( )*)$)"
							title="Enter a valid isbn: 10 or 13 digits only">
							<button type="submit" id="submit" class="btn btn-default blue_button" style="display:inline" >
			    	<span>ADD</span>
					</button>
					</div>
					</h2>
					</form>

				</div>
			</div>
		  </div>
	</div>
{% endblock content %}