{% extends "base_topsearch.html" %}
{% block content %}
{% if book %}
<form id="sell_form_edit" action="/sell/edit/submit/" method="post"> {% csrf_token %}
	<input type="hidden" id="target_isbn" name="target_isbn" value="{{book.isbn}}"/>
	<input type="hidden" id="offer_id" name="offer_id" value="{{offer_id}}"/>
	<input type="hidden" id="is_auction" name="is_auction" value="{{is_auction}}"/>
	<h1 style="font-size:16px">
	<table>
		<tr><th><img class="media-object pull-left" src="{{ book.frontcover }}" alt="{{ book.title }}" height="158px" width="128px"></th>
			<td><div class="media-body">
	         <h3 class="media-heading" style="font-size:28px"><strong>{{ book.title }}</strong></h3>
	         <h2 style="font-size:20px">
	         	<p>Author(s): {{ book.author }}</p>
	         	<p>ISBN-13: {{ book.isbn }}</p>
	         	<p>Published Date: {{book.pub_date}}</p></h2></div></td></tr>
		<tr><th><label>Course:</label></th><td><input id="course" name="course" type="text" required
			 pattern="(^[a-zA-Z]{3}( )*[0-9]{3}$)" title="Enter a valid course name e.g COS 333" value="{{offer.course}}"></td></tr>
        <tr><th><label>Auction:</label></th>
        	<td><p id="auction"><label><input {% if is_auction %} checked onclick="return false" {% endif %} id="auction_yes" name="auction" type="checkbox" value="0" />Yes</label></p></td></tr>
		<tr><th><label>End Date:</label></th>
			<td>			
				<input id="end_time" name="end_time" type="text" placeholder="MM/DD/YY HH:MM:SS"
					required pattern="^(0[1-9]|1[012])[/](0[1-9]|[12][0-9]|3[01])[/]\d\d [01][0-9]:[0-5][0-9]:[0-5][0-9]$"
					title="MM/DD/YY HH:MM:SS" readonly>
				<span class="glyphicon glyphicon-calendar"></span>
			
			</td>
		</tr>
		<tr><th>
			{% if is_auction %}
			<label>Buy Now Price:</label>
			{% else %}
			<label>Price:</label>
			{% endif %}
			</th>
			<td><input id="price" name="price" type="text" {% if is_auction %} readonly {% endif %}
				 required pattern="(^[1-9]$)|(^[1-9]\d$)|(^[1-9]\d\d$)" title="Whole numbers only; dollar sign not required" value="{{offer.current_price}}"/>
			</td>
		</tr>
		{% if is_auction %}
		<tr><th><label>Start Price:</label></th>
		<td><input id="current_price" name="current_price" type="text"
			required readonly pattern="(^[1-9]$)|(^[1-9]\d$)|(^[1-9]\d\d$)" title="Whole numbers only; dollar sign not required" placeholder="e.g 25"/>
		</td>
		</tr>	
		{% endif %}
		<tr><th><label>Condition:</label></th><td><p id="picked_condition">
			<p><label><input required id="new" name="picked_condition" type="radio" value="New" {% if offer.condition = 'New' %} checked {% endif %}/>New</label></p>
			<p><label><input required id="like_new" name="picked_condition" type="radio" value="Like New" {% if offer.condition = 'Like New' %} checked {% endif %}/>Like New</label></p>
			<p><label><input required id="very_good" name="picked_condition" type="radio" value="Very Good" {% if offer.condition = 'Very Good' %} checked {% endif %}/>Very Good</label></p>
			<p><label><input required id="good" name="picked_condition" type="radio" value="Good" {% if offer.condition = 'Good' %} checked {% endif %}/> Good</label></p>
			<p><label><input required id="acceptable" name="picked_condition" type="radio" value="Acceptable" {% if offer.condition = 'Acceptable' %} checked {% endif %}/>Acceptable</label></p>
		</p></td></tr>
		<tr><th><label>Description:</label></th><td><textarea required maxlength="100" cols="40" id="description"
			name="description" rows="5" title="Enter a short description about your book.">{{offer.description}}</textarea></td></tr>
 	</table>
    <button type="submit" id="update" class="btn btn-default">
    	<span><strong>UPDATE</strong></span>
	</button>
    </h1>
</form>
{% endif %}
{% endblock content %}
