{% extends "base_topsearch.html" %}
{% block content %}
{% if book %}
<form id="sell_form" action="/sell/submit/" method="post"> {% csrf_token %}
	<input type="hidden" id="target_isbn" name="target_isbn" value="{{book.isbn}}">
	<h1 style="font-size:16px">
	<table>
		<tr><th><img class="media-object pull-left" src="{{ book.frontcover }}" alt="{{ book.title }}" height="158px" width="128px"></th>
			<td><div class="media-body">
	         <h3 class="media-heading" style="font-size:28px"><strong>{{ book.title }}</strong></h3>
	         <h2 style="font-size:20px">
	         	<p>Author(s): {{ book.author }}</p>
	         	<p>ISBN-13: {{ book.isbn }}</p>
	         	<p>Published Date: {{book.pub_date}}</p></h2></div></td></tr>
		<tr><th><label>Course:</label></th><td><input id="course" name="course" type="text" required
			 pattern="(^[a-zA-Z]{3}( )*[0-9]{3}$)" title="Enter a valid course name e.g COS 333" placeholder="e.g COS 333"></td></tr>
        <tr><th><label for="id_auction_0">Auction:</label></th>
        	<td><p id="auction"><label><input id="is_auction" name="is_auction" type="checkbox" value="yes"
        		onclick='$("#auction_enddate").toggle()'/>
        		Yes</label></p>
        </td></tr>
<!-- drop down the datepicker if the auction is checked -->
	<tr class="collapse" id="auction_enddate"><th><label>End Date:</label></th><td>
		<div id="dtpsub" class="input-append">
			<input type="text" placeholder="MM/DD/YY HH:MM:SS"></input>
			<span class="glyphicon glyphicon-calendar"> </span>
		</td>
	</tr>
<!-- 		<div id="datetimepicker1" class="input-append">
			<input data-format="MM/dd/yyyy HH:mm:ss PP" type="text"></input>
			<span class="add-on">
				<i data-time-icon="icon-time" data-date-icon="icon-calendar">
				</i>
			</span>
		</div> -->
	</div>
<!-- end dropdown datepicker -->

		<tr><th><label>Condition:</label></th><td><p id="picked_condition">
			<p><label><input required id="new" name="picked_condition" type="radio" value="New" />New</label></p>
			<p><label><input required id="like_new" name="picked_condition" type="radio" value="Like New" />Like New</label></p>
			<p><label><input required id="very_good" name="picked_condition" type="radio" value="Very Good" />Very Good</label></p>
			<p><label><input required id="good" name="picked_condition" type="radio" value="Good" /> Good</label></p>
			<p><label><input required id="acceptable" name="picked_condition" type="radio" value="Acceptable" />Acceptable</label></p>
		</p></td></tr>
		<tr><th><label>Description:</label></th><td><textarea required maxlength="100" cols="40" id="description"
			name="description" rows="5" title="Enter a short description about your book."></textarea></td></tr>
		<tr><th><label>Price:</label></th><td><input id="price" name="price" type="text"
			 required pattern="(^[1-9]$)|(^[1-9]\d$)|(^[1-9]\d\d$)" title="Whole numbers only; dollar sign not required" placeholder="e.g 25"></td></tr>
 	</table>
    <button type="submit" id="submit" class="btn btn-default">
    	<span><strong>SELL</strong></span>
	</button>
    </h1>
</form>
{% endif %}
{% endblock content %}
