{% extends "base_book.html" %}
{% block header %}
<link href="/static/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script type="text/javascript" src="/static/moment.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript">
// These scripts need to be here since they require moments.js and datetimepicker.js
$(function() {
	$('#datetimepicker').datetimepicker({
		minDate: moment().subtract('days', 1),
		// sideBySide: true,
	});

	$("#end_time").attr(
		{value:moment().add('days', 1).format("MM/DD/YY HH:mm")}
	);

  $("#datetimepicker").on('dp.hide', function(){
    if(moment().isAfter(moment(
      $("#end_time").val(), "MM/DD/YY HH:mm"))){
      $("#sell_submit").prop( 'disabled', true);
      alert("Please select a time in the future");

      }
    else {
      $("#sell_submit").prop( "disabled", false);
    }
  });
});
</script>
{% endblock header %}

<!-- DISPLAY THE BOOK -->
{% block displaytitle %}
	<h1 class="media-heading"><a href="/book/?isbn={{book.isbn}}"><strong>{{book.title}}</strong></a></h1>
{% endblock displaytitle %}

	{% block buyback %}
	<a href="" data-toggle="modal" data-target="#buyback_modal"><p>Labyrinth Buyback Estimator</p></a>
	{% endblock buyback %}

<!-- END BOOK DISPLAY -->
{% block extras %}
	<div class="modal fade" id="buyback_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-md" style="width:350px">
			<div class="modal-content">
		  		<div class="modal-header">
		    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		  			<h2 class="modal-title">Labyrinth Buyback Estimator</h2>
		  		</div>
		  		<div class="modal-body">
		 			<div class="form-group">
			 			<h2>
						<label for="buyback_price" class=" control-label sell-label">How much did you pay for the book?</label>
							<input id="buyback_price" name="buyback_price" class="form-control sell-field" type="number" style="width:100px" min="1" max="999" title="Whole numbers only; dollar sign not required" placeholder="e.g. 10" required/>
						<label for="condition" style="text-align:center"><br>Condition:</label> <br>
							<input required id="buyback_new" name="buyback_condition" type="radio" value="1"/> New
							<input required id="buyback_used" name="buyback_condition" type="radio" value="0"/> Used
							<br><br>
							<div>
						<button type="click" id="buyback_submit" class="btn btn-default blue_button" style="float:center">
		    				<span>Estimate</span>
						</button>
						</div>
						<br><br><label id="estimate"></label>
						<h3>See <a href="http://www.labyrinthbooks.com/cb_home.aspx">here</a> for more info.</h3>
						</h2>
						</div>
				</div>
			</div>
		  </div>
	</div>

<!-- sell form -->
<form id="sell_form" action="/sell/submit/" class="form-horizontal" role="form" method="post"> {% csrf_token %}
	<input type="hidden" id="target_isbn" name="target_isbn" value="{{book.isbn}}">
	<h2>
		<div class="form-group">
			<label for="course" class="col-sm-2 control-label sell-label">Course:</label>
			<div class="col-sm-10">
				<input id="book_course" name="course" class="form-control sell-field" title="Enter a valid course name e.g. COS 333" type="text" required pattern="(^[a-zA-Z]{3}( )*[0-9]{3}$)" placeholder="e.g. COS 333">
			</div>
		</div>
		<div class="form-group">
			<label for="is_auction" class="col-sm-2 control-label sell-label"> Auction:</label>
			<div class="col-sm-10">
				<label for="is_auction" class="checkbox-inline" data-toggle="tooltip">
					<input id="is_auction" name="is_auction" class="checkbox pull-left" title="Want people to bid on your book?" type="checkbox"/>
					Yes!</label>
			</div>
		</div>
		<div class="form-group collapse auction">
			<label class="col-sm-2 control-label sell-label"></label>
			<div class='col-sm-10 info_text'>
				<p>INFO: To make bidding a pleasant experience, you are not allowed to change the start price,
					buy now price or the end date once the auction has started</p>
			</div>
		</div>
		<div class="form-group collapse auction">
			<label for="end_time" class="col-sm-2 control-label sell-label">End Date:</label>
			<div class='col-sm-2 input-group date' id='datetimepicker' data-date-format="MM/DD/YY HH:mm">
				<input type='text' id="end_time" name="end_time" class="form-control sell-field" title="Please select a date and time at which to end your auction." readonly/>
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
			    </span>
			</div>
		</div>
<!-- NL is attempting to debug resizing the sell form here. Don't delete yet! -->
<!-- 		<div class="form-group collapse auction">
			<label for="end_time" class="col-sm-2 control-label sell-label">Alternate End Date:</label>
			<div class='col-sm-10 input-group date' id='datetimepicker2' data-date-format="MM/DD/YY HH:mm">
				<input type='text' id="end_time2" name="end_time" class="form-control sell-field" title="Please select a date and time at which to end your auction." readonly/>
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
			    </span>
			</div>
		</div> -->
		<div class="form-group collapse auction">
			<label for="current_price" class="col-sm-2 control-label sell-label">Start Price ($):</label>
			<div class="col-sm-10">
				<input id="current_price" name="current_price" class="form-control sell-field pull-left" type="number"
				 min="1" max="999" placeholder="e.g. 10" title="Whole numbers only; dollar sign not required."/>
				<span id="current_price_info" class="collapse auction pull-left sell-info" data-container="body" data-toggle="popover" data-placement="right">
					<span class="glyphicon glyphicon-info-sign"></span>
				</span>
			</div>
		</div>
		<div class="form-group">
			<div class="input-append collapse auction"><label for="price" class="col-sm-2 control-label sell-label">Buy Now <br> Price ($):</label>
			</div>
			<div class="input-append auction"><label for="price" class="col-sm-2 control-label sell-label">Price ($):</label>
			</div>
			<div class="col-sm-10">
				<input id="price" name="price" class="form-control sell-field pull-left" type="number"
				required min="1" max="999" title="Whole numbers only; dollar sign not required" placeholder="e.g. 25"/>
				<span id="buy_price_info" class="collapse auction pull-left sell-info" data-container="body" data-toggle="popover" data-placement="right">
					<span class="glyphicon glyphicon-info-sign"></span>
				</span>
			</div>

		</div>
		<div class="form-group">
			<label for="condition" class="col-sm-2 control-label sell-label">Condition:</label>
			<label for="new" class="radio-inline"><input required style="margin-left:0px" id="new" name="picked_condition" type="radio" value="New"/>New</label>
			<label for="like_new" class="radio-inline"><input required id="like_new" name="picked_condition" type="radio" value="Like New"/>Like New</label>
			<label for="very_good" class="radio-inline"><input required id="very_good" name="picked_condition" type="radio" value="Very Good"/>Very Good</label>
			<label for="good" class="radio-inline"><input required id="good" name="picked_condition" type="radio" value="Good"}/>Good</label>
			<label for="acceptable" class="radio-inline"><input required id="acceptable" name="picked_condition" type="radio" value="Acceptable"/>Acceptable</label>
		</div>
		<div class="form-group">
			<label for="description" class="col-sm-2 control-label sell-label">Description:</label>
			<div class="col-sm-10">
				<textarea required maxlength="100" cols="40" id="description" class="form-control" style="width:250px"
				name="description" rows="5" title="Enter a short description about your book."></textarea>
			</div>
		</div>
    <button type="submit" id="sell_submit" class="btn btn-default blue_button">
		<span class ="auction"><strong>SELL</strong></span>
    	<span class ="collapse auction"><strong>START AUCTION</strong></span>
	</button>
    </h2>
</form>
{% endblock extras %}
