{% extends "base.html" %}
{% block title %}tex sell{% endblock title %}
{% block body %}

<div class="container outerframe">
<form id="sell_forms_collection" method="post"> {% csrf_token %}
	{{ form.non_field_errors }}
	<!-- title -->
	<div class="input-group">
		<span class="input-group-addon">Title</span>
		<input type="text" id="sell_title" name="sell_title" autofocus placeholder="Title"
		class="form-control translucent_w2">
	</div>

	<!-- author -->
	<div class="input-group sell_form">
		<input type="text" id="sell_author" name="sell_author" placeholder="Author"
		class="form-control sell_form translucent_w2">
	</div>

	<!-- isbn -->
	<div class="input-group sell_form">
		<input type="text" id="sell_isbn" name="sell_isbn" placeholder="ISBN, digits only"
		class="form-control sell_form translucent_w2">
	</div>

	<!-- condition -->
	<div class="input-group sell_form">
		{{ form.picked_condition.errors}}
		<label>Book condition?</label>
		{{ form.picked_condition }}

		{{ form.description.errors }}
		<label>Briefly describe the state of the book</label>
		{{ form.description.errors }}
	<!-- 		<input type="radio" id="sell_cond" name="sell_cond"> New <br>
		<input type="radio" id="sell_cond" name="sell_cond"> Used, Like new <br>
		<input type="radio" id="sell_cond" name="sell_cond"> Used, Very good <br>
		<input type="radio" id="sell_cond" name="sell_cond"> Used, Acceptable <br>
	-->
	</div>

	<!-- price -->
	<div class="input-group sell_form">
		{{ form.price.errors}}
		<label>Name your price</label>
		{{ form.price }}
	</div>

	<!-- submit button -->
	<div class="input-group-btn">
		<button type="submit" id="sell_btn" class="btn btn-default translucent_w3">
			Offer this book	<span class="glyphicon glyphicon-ok-circle"></span>
		</button>
	</div>
</form>
</div>

{% endblock body %}
