.dropdown-menu >li >a, a > h3 {
   cursor:pointer;
}

/*formatting the entire welcome header*/
#banner {
	background-color: inherit;
	top: 10%;
	margin-left: 15%;
   	margin-right: 15%;
	width: 70%;

}

/*specifically the welcome text*/
#welcome {
	font-family: 'ABeeZee', sans-serif;
	font-size: 175%;
   	font-weight: bold;
   	/*color: #FFFFFF;  alternate colors: water, aliceblue, azure */
   	color: rgba(0, 128, 128,.7);
   	text-shadow: 2px 2px 3px rgba(251, 246, 217,1);

}

/*positions the entire search bar on the homepage*/
#homesearch {
	top:  48%;
	left: 15%;
	width: 70%;
}

/*positions the search bar on subsequent pages
.topsearch {
	width: 70%;
}

/*Prevent the width of the dropdown button from changing on click*/
#search_by{
    width: 100px;
    display: inline-block;
}

#search_bar_text{
	color: black;
}
#search_form{
	font-family: 'Open Sans';
}

.outerframe {
   margin-bottom: 5%;
   margin-top: 5%;
   margin-left: 10%;
   margin-right: 10%;
   padding: 2%;
   width: 80%;
   background-color: rgba(255,255,255,.25);
}
.navbar-header {
	margin-left: 15%;
   	margin-right: 15%;
   	width: 70%;
   	font-size: 24px;
   	font-family: 'Open Sans';
}

.media.thumbnail{
   background-color: rgba(255,255,255,0.1);
}

.media-body > a:link {color: #008080;}
.media-body > a:visited {color: #110055;}
.media-body > a:hover {color: rgba(74, 160, 44,.5);}

.modal-content {
	font-family: 'Open Sans';
	background: url('paper.jpg');
}
.modal-header {
	 border-bottom: none;
	 height: 40px;
	 background-color: rgba(74, 160, 44,.25);
}
/* style all the input forms on the sell page */
.sell_form {
  autocomplete: "on";
  required;
}

/* For the background of the pages */
body {
    /*background-color:#c1cdd5;*/
   padding-top: 30px;
   background: url('paper.jpg');
}
input, textarea{
	font-family: 'Open Sans';
    background-color: rgba(118,206,143,.25)
    color: black;
}
/* change fonts */
.jumbotron{
  font-family: 'Open Sans';
}
p, h1, h2, h3, h4{
  /*font-family: 'ABeeZee', sans-serif;*/
	font-family: 'Open Sans';
}
th{
	font-size:24px;
 	border-top: none;
}

.table-borderless td,
.table-borderless th, .table td, .table th{
  border: 0 !important;
}

/*applies to a div that holds everything in the page*/
.center-page{
  margin:auto;
  width:80%;
}

/*this class attempts to center all the stuff within it*/
div.center-all{
  text-align: center;
  vertical-align: middle;
}
/*beware: specific to displaying the book! */
/*img.center-all{
  display: block;
  margin-left: 20%;
  margin-right: auto;
}
*/
.book-info{
  padding-left:2%;
  padding-top:0.25%;
}

.modal-dialog, .modal-header{
	font-family: 'Open Sans';
}


/* Three different shades of translucence for white*/
.translucent_w1{
	background-color: rgba(255,255,255,.75);
}
.translucent_w2 {
   background-color: rgba(255,255,255,.5);
}
.translucent_w3 {

   background-color: rgba(255,255,255,.4)

}

/* Three different shades of translucence for black*/
.translucent_b1{
	background-color: rgba(74, 160, 44,.25) /*light green */
	/*background-color: rgba(21, 27, 84,.75)*/
}
.translucent_b2 {
   background-color: rgba(0,0,0,.5)
}
.translucent_b3 {
   background-color: rgba(0,0,0,.25)
}
ul {list-style-type:none}


a:link {color: #008080;}
a:visited {color: #008080;}
a:hover {color: rgba(74, 160, 44,.8);}


#end_time{
	width:auto;
}

.debug {
	border:solid red thick;
}

