.dropdown-menu >li >a, a > h3 {
   cursor:pointer;
}

/*formatting the entire welcome header*/
#banner {
	background-color: inherit;
	top: 10%;
	margin-left: 15%;
   	margin-right: 15%;
	width: 70%;

}

/*specifically the welcome text*/
#welcome {
	font-family: 'ABeeZee', sans-serif;
	font-size: 200%;
   	font-weight: bold;
   	color: #FFFFFF; /* alternate colors: water, aliceblue, azure */
}

/*positions the entire search bar on the homepage*/
#homesearch {
	top:  48%;
	left: 15%;
	width: 70%;
}

/*positions the search bar on subsequent pages
.topsearch {
	width: 70%;
}

/*Prevent the width of the dropdown button from changing on click*/
#search_by{
    width: 100px;
    display: inline-block;
}

#search_bar_text{
	color: #000000;
}
#search_form{
	font-family: 'ABeeZee', sans-serif;
}

.outerframe {
   margin-bottom: 5%;
   margin-top: 5%;
   margin-left: 10%;
   margin-right: 10%;
   padding: 2%;
   width: 80%;
   background-color: rgba(255,255,255,0.2);
}
.navbar-header {
	margin-left: 15%;
   	margin-right: 15%;
   	width: 70%;
   	font-size: 24px;
   	font-family: 'ABeeZee', sans-serif;
}

.media.thumbnail{
   background-color: rgba(255,255,255,0.1);
}

.media-body > a:link {color: #000077;}
.media-body > a:visited {color: #110055;}
.media-body > a:hover {color: #eeeeee;}


/* style all the input forms on the sell page */
.sell_form {
  autocomplete: "on";
  required;
}

/* For the background of the pages */
body {
    /*background-color:#c1cdd5;*/
   padding-top: 30px;
   background: url('background-blue.png');
}

/* change fonts */
.jumbotron{
  font-family: 'ABeeZee', sans-serif;
}
p, h1, h2, h3, h4{
  font-family: 'ABeeZee', sans-serif;
}
th{
	font-size:24px;
}
.modal-dialog, .modal-header{
	font-family: 'ABeeZee', sans-serif;
}

/* Three different shades of translucence for white*/
.translucent_w1{
	background-color: rgba(255,255,255,.99);
}
.translucent_w2 {
   background-color: rgba(255,255,255,.5);
}
.translucent_w3 {
   background-color: rgba(255,255,255,.25)

}

/* Three different shades of translucence for black*/
.translucent_b1{
	background-color: rgba(21, 27, 84,.75)
}
.translucent_b2 {
   background-color: rgba(0,0,0,.5)
}
.translucent_b3 {
   background-color: rgba(0,0,0,.25)
}
ul {list-style-type:none}

a {color:#996600}
