.dropdown-menu >li >a, a > h3 {
   cursor:pointer;
}

/*formatting the entire welcome header*/
#banner {
	position: absolute;
	background-color: inherit;
	top: 10%;
	width: 100%;

}

/*specifically the welcome text*/
#welcome {
	/*font-family: cursive;*/
	font-family: 'ABeeZee', sans-serif;
	font-size: 125%;
   font-weight: bold;
   color: #000000;
/*   color: #FFFFFF;*/
}

/*positions the entire search bar on the homepage*/
#homesearch {
	position: absolute;
	top:  48%;
	left: 10%;
	width: 80%;
}

/*positions the search bar on subsequent pages */
#topsearch {
/*	position: absolute;
	top:  48%;
	left: 10%;
	width: 80%;
*/}

/*Prevent the width of the dropdown button from changing on click*/
#search_by{
    width: 100px;
    display: inline-block;
}
#search_form{
	font-family: 'ABeeZee', sans-serif;
}

.outerframe {
   margin: 2%;
   padding: 2%;
   width: 96%;
   background-color: rgba(0, 0, 0 ,0.1);
}

.media.thumbnail{
   background-color: rgba(0, 0, 0 ,0.05);
}
/*Two diffrerent shades of translucence*/
.translucent1{
   color: #552255;
   background-color: rgba(255,255,255,0.5);
}
.translucent2{
   background-color: rgba(255,255,255,0.75);
}

/* For the background of the pages */
body {
    /*background-color:#c1cdd5;*/
   /* background: url('background2.jpg'); */ 
}
